<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RTFile Transfer | Powered by I-As.Dev</title>
  <meta name="description" content="RTFile Transfer is a tool for transferring files between users in real-time.">
  <meta name="keywords" content="file transfer, real-time file sharing, secure file transfer, online file transfer tool, peer-to-peer file transfer, file exchange, file sending, instant file sharing, file transfer application, file sharing platform">
  <meta name="author" content="I-As.Dev">
  
  <meta property="og:title" content="RTFile Transfer | Powered by I-As.Dev">
  <meta property="og:description" content="RTFile Transfer is a tool for transferring files between users in real-time.">
  <meta property="og:image" content="https://<%= domain %>/images/og.jpg">
  <meta property="og:url" content="https://<%= domain %>">
  <link rel="icon" href="/images/logo-icon.png" type="image/png">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
	<img class="-z-10 fixed top-0 h-screen w-full object-cover" src="/images/bg.avif" alt="background">
    <main class="min-h-screen w-full backdrop-blur-sm p-4 flex justify-center items-center">
		<section class="w-full bg-zinc-900/80 p-6 rounded-lg text-gray-300 max-w-2xl py-12">
			<header class="flex flex-col gap-2 items-center">
				<img class="w-36 h-36" src="/images/logo-icon.png" alt="logo">
				<h1 class="text-4xl font-extrabold text-white">RTFile Transfer</h1>
				<p class="text-center m-auto max-w-md">
					RTFile Transfer is a tool for transferring files between users in real-time.
				</p>
			</header>
			<div class="flex flex-col gap-1 items-center mt-12 m-auto max-w-sm">
				<p class="font-bold text-white">Your ID</p>
				<span class="text-green-500 w-full bg-zinc-900 px-2 py-1 border border-zinc-700 rounded-md text-center" id="clientId"></span>
			</div>
			<div class="flex flex-col gap-1 items-center mt-4 m-auto max-w-sm">
				<p class="font-bold text-white">Target ID</p>
				<input class="text-white focus:outline-none w-full bg-zinc-900 px-2 py-1 border border-zinc-700 rounded-md text-center" type="text" id="targetClientId" placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx">
			</div>
			<div class="flex flex-col gap-1 items-center mt-4 m-auto max-w-sm">
				<p class="font-bold text-white">Select File</p>
				<input class="file:hover:bg-zinc-600 file:bg-zinc-700 file:border-none file:rounded file:text-sm file:text-gray-300 file:px-2 text-gray-300 focus:outline-none w-full bg-zinc-900 px-2 py-1 border border-zinc-700 rounded-md" type="file" id="fileInput">
				<button class="mt-9 bg-purple-700 px-4 py-2 rounded hover:bg-purple-600 text-white font-semibold" id="sendFileButton">Send File</button>
			</div>
			<div class="mt-12" id="fileList"></div>
			<footer class="mt-16 text-center text-gray-300">
				©2024 <a class="text-blue-500 hover:text-blue-600" href="https://i-as.dev/" target="_blank">I-As.Dev</a> | <a class="text-blue-500 hover:text-blue-600" href="https://github.com/fitri-hy" target="_blank">Github</a>. All Rights Reserved.
			</footer>
		</section>
	<main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>
</body>
</html>
